.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1480;
  background-color: white;
  overflow-y: scroll;   /* sigue funcionando el scroll */
  scrollbar-width: none;

  position: relative;
}

.text p {
  margin-top: 4rem;
  font-size: 14px;
  color: black;
  padding-left: 120px;
  font-family: sans-serif;
  padding-bottom: 0;
}
.p1{
  font-size:18px;
  line-height: 1;
  font-weight: bold;
 
}
.hero img{
padding-left: 100px;
padding-bottom: 5px;
 width: 780px;
 display: flex;
 flex-direction: row;
 margin-top: 10px;
 position: absolute;
  top:180px;             /* ajustar vertical */
  left: 0; 
   z-index: 3; 
}

.image  {
  width:700px;
  height:850px;
  border-radius: 15px;
  justify-content: right;
  display: flex ;
  padding-right: 180px;
  float:right


    
}

.hero p{
  font-size: 20px;
    line-height: 1;
    font-family: sans-serif;
}

.logo {
  
  padding: 35rem;
  display: flex;
  justify-content: flex-end; 
  width: 100px;
  position: absolute;
  right: 0;   /* al final */
  top: 0;     /* ajusta */
  z-index: 10;
 padding-right: 60px;

}
.foto{
  display: flex;
  padding-top: 55px;
  padding-left: 120px;
}