.contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 40px;
  position: relative;
  background-color: #fff; 
}

.foto img {
  width: 750px;
  border-radius: 10px;
  object-fit: cover;
  padding-top: 30px;
  padding-left: 80px;
}

.hero {
  display: flex;
  margin-left: 80px;
  position: absolute;
   font-family: sans-serif;
   padding-left: 50px;

   
}

.text {
  margin-bottom: 20px;
   display: flex;
  margin-left: 80px;
  position: absolute;
   font-family: sans-serif;
   padding-left: 50px;
}

.p1 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.p {
  margin-top:3rem;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

.heroImage {
  width: 370px;
  height: 400px;
  display: flex;
  justify-content: center;
  padding-left: -80px;

}

.heroImage img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  padding-right: -150px;
  justify-content: center;
  display: flex;

}

.logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 350px;
  height: auto;
  z-index: 10;
}

.logo img {
  width: 100%;
  height: auto;
}
