.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1480;
  background-color: white;
  overflow-y: scroll;   /* sigue funcionando el scroll */
  scrollbar-width: none;

  position: relative;
}


.white {
  background-color: black;
  color: white;
  padding: 0 10px;
}

.purple {
  background-color: black;
  color: black;
  padding: 0 10px;
}

.text p {
  margin-top: 34rem;
  font-size: 18px;
  color: black;
  padding-left: 95px;
}

.hero img{
padding-left: 100px;
padding-bottom: 5px;
 width: 980px;
 display: flex;
 flex-direction: row;
 margin-top: 10px;
 position: absolute;
  top:180px;             /* ajustar vertical */
  left: 0; 
   z-index: 3; 
}

.image  {
  width:100vh;
  height:80vh;
  border-radius: 15px;
  flex-direction: row;
  display: flex ;
  justify-content: center;
  position: relative;
  z-index: 1;
    
}

.hero p{
  font-size: 18px;
    line-height: 1;
}