.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1480;
  background-color: white;
  overflow-y: scroll;   /* sigue funcionando el scroll */
  scrollbar-width: none;
  position: relative;
  padding-bottom: 0%;
}


.white {
  background-color: black;
  color: white;
 
}

.purple {
  background-color: black;
  color: black;
  padding: 0 10px;
}

.text p {
  margin-top: 30rem;
  font-size: 20px;
  color: black;
  padding-left: 95px;
  font-family: sans-serif;
}

.img{
 width: 150vh;
 display: inline-block;
 flex-direction: row;
 position: absolute;           /* ajustar vertical */
padding-left: 60px;

  transform: translateY(-100px); 
}

.heroImagen  {
  width:200px;
  height:80vh;
  border-radius: 15px;
  flex-direction: row;
  display: flex ;
  justify-content: center;
  position: relative;
  z-index: 1;
  
}

.hero p{
  font-size: 18px;
    line-height: 1;
}