.navbar{
  display: flex;
  padding: 30px;
  width: 1452รง5px;
 color: white;
 background: black;
 border-bottom: 1px solid #ccc; 
}

.navbar img{
  width: 200px;
  margin-left: 70px;

}
.navbar a{

  padding: 0 108px;
  margin-top: 10px;
  margin-bottom:  30px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}

.text h1 {
  font-size: 18px;
  line-height: 1.2;
}

.white {
  background-color: black;
  color: white;
  padding: 0 10px;
}

.purple {
  background-color: black;
  color: black;
  padding: 0 10px;
}

.text p {
  margin-top: 20px;
  font-size: 16px;
}

.image img {
  max-width: 200px;
  border-radius: 10px;
}
