.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1480;
  background-color: white;
   overflow-y: scroll;   /* sigue funcionando el scroll */
  scrollbar-width: none;
}


.white {
  background-color: black;
  color: white;
  padding: 0 10px;
}

.purple {
  background-color: black;
  color: black;
  padding: 0 10px;
}

.text p {
  margin-top: -100px;
  font-size: 18px;
  color: black;
  padding-left: 95px;
}

.hero img{
padding-left: 95px;

 width: 900px;
 
}

.image  {
  width:950px;
  height: 780px;
  border-radius: 15px;
  flex-direction: row;
  display: flex ;
  justify-content: right;
  position: relative;
}

.hero p{
  font-size: 18px;
    line-height: 1;
}