/* Contenedor principal */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 60px;
  background: white;
   border-bottom: 1px solid #ccc; 
   font-family: sans-serif;
}
.logo{
  width: 200px;
}
/* Contenedor del menú */
.nav {
  display: flex;
  gap: 70px;              /* separación horizontal EXACTA */
  align-items:left;
}

/* Link del menú */
.a {
  display: flex;
  align-items: center;
  gap: 10px;              /* espacio entre texto y círculo */
  font-size: 10px;
  text-decoration: none;
    letter-spacing: 8px; 
    font-family: sans-serif; 
    font-style: normal;
    font-weight:  bold;
color: black;
}

/* Círculo negro */
.icon {
   width: 22px;
  height: 22px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen PNG dentro del círculo */
.icon img {
  width: 30px;
  height:20px;
   /* hace la flecha blanca */
}

/* Hover animado */
.a:hover .icon {
  transform: scale(1.15);
  transition: 0.2s;
}

.a:hover {
  opacity: 0.8;
}
