.contenedor {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding-top: 80px;
}

/* CONTENEDOR que agrupa GIF + iconos */
.areaCentral {
  position: relative;
  width: 450px;
  height: 450px;   /* puedes ajustarlo */
  display:flex;
  justify-content: center;
  align-items: center;
}

/* GIF DETRÁS, centrado y cubriendo el área */
.gifDetras {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;      /* Ajustar tamaño */
  transform: translate(-50%, -50%);
  opacity: 0.7;      /* opcional */
  z-index: 1;
  pointer-events: none; /* no tapa los botones */
}

/* GRID de los íconos */
.grid {
  position: relative;
  z-index: 3; /* botones encima del GIF */
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-auto-rows: 140px;
  gap: 25px;
}

/* Cajas cuadradas con sombra */
.caja {
  background: #fff;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.caja:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.22);
}

.caja img {
  width: 70%;
}

/* Elementos decorativos */
.cajaDecoracion img {
  width: 100%;
  height: 100%;
  border-radius: 22px;
}

.imgBottom {
  margin-top: 50px;
  width: 200px;
  opacity: 0.8;
}
