.contenido {

  display: flex;
  justify-content: center;
  padding-top: 40px; /* Subir/bajar la sección entera */
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 200px; /* separación foto-texto */
  align-items: left; /* centra verticalmente como en tu captura */
}

.imageContainer img {
  width: 420px;
  border-radius: 20px;
  display: flex;
  
}

.textContainer {
  max-width: 350px;
  margin-top: 15rem;
}

.letras {
  font-size: 22px;
  font-weight: 600;
  color: white;
  line-height: 1.4;
}

.linea {
  width: 20px;        /* Ajusta largo según lo necesites */
  border-bottom: white;
}