
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* logo y hamburguesa alineados izquierda */
  padding: 25px 60px;
  background-image: url("../../../assets/trabajoss/imgNav.jpg"); /* tu fondo */
  background-size: cover;
  background-position: left;
  border-bottom: 1px solid #ccc;
  font-family: sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 100;
}

.logo {
  width: 200px;
  margin-left: 20px;
  z-index: 101;
}

/* NAV DESKTOP */
.nav {
  display: flex;
  gap: 70px;
  align-items: center;
  padding-left: 200px; /* empuja el menu a la derecha */
  transition: max-height 0.3s ease;
}

.a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 10px;
  text-decoration: none;
  letter-spacing: 8px;
  font-weight: 700;
  color: white;
  padding-right: 30px;
}

.icon {
  width: 22px;
  height: 22px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 30px;
  height: 20px;
}

.a:hover .icon {
  transform: scale(1.15);
  transition: 0.2s;
}

.a:hover {
  opacity: 0.8;
}

/* HAMBURGUESA */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 102;
  background-color: white;
  position:absolute;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: white;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* muestra hamburguesa */
    order: 1; /* izquierda */
    background-color: white;
  }

  .logo {
    order: 2;
  }

  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-image: url("../../../assets/trabajoss/imgNav.jpg"); /* fondo */
    background-size: cover;
    background-position: left;
    overflow: hidden;
    max-height: 0; /* cerrado inicialmente */
    transition: max-height 0.3s ease;
    z-index: 101;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    margin: 0;
  }

  .nav.active {
    max-height: 500px; /* menú abierto */
    background-color: white;
  }

  .nav a {
    padding: 12px 0;
    justify-content: center;
    gap: 10px;
  }
}
