
.navbar {
  width: 100%;
   
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 60px;
  
   border-bottom: 1px solid #ccc; 
   font-family: sans-serif;
   background-image: url("../../../assets//trabajoss/imgNav.jpg");
  background-size: cover;    
  background-position: left; 
}
.logo{
  width: 200px;
  padding-left: 50px;
}

.nav {
  display: flex;
  gap: 50px;          
  align-items:left;
}


.a {
  display: flex;
  align-items: center;
  gap: 10px;            
  font-size: 10px;
  text-decoration: none;
    letter-spacing: 8px; 
    font-family: sans-serif; 
    font-weight:  700;
color: white;
padding-right: 100px;
}


.icon {
   width: 22px;
  height: 22px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon img {
  width: 30px;
  height:20px;
 
}


.a:hover .icon {
  transform: scale(1.15);
  transition: 0.2s;
}

.a:hover {
  opacity: 0.8;
}

